.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 20px;
  color: white;
}
li {
  list-style: none;
}
